%p#notice= notice

%h1
  = @product.name
  = link_to 'Edit', edit_product_path(@product), :class => 'btn btn-info'
%blockquote
  Code:
  =@product.code
%h3= number_to_currency(@product.price)

%strong Description:
%p.lead= @product.description

